
<% if current_user && !current_user.admin? && !current_user_account %>
  <div class="alert alert-notice">
	<%= link_to "Complete account set up", new_account_path %> to begin ordering face shields!
  </div>
<% end %>



<%= "shit" if current_user_account && current_user %>
