.account-info span {
	font-weight: 700;
}

.info-group {
	display: flex;
	justify-content: space-between;
}

.info {
	display: flex;
	flex-direction: column;
	flex-basis: 90%;
}

.buttons i {
  color: var(--dark);
}

.account-info .no-bold {
	font-weight: 400;
}

.suggestion {
	font-size: .7rem;
}

#add-address {
	margin-top: 1rem;
	margin-left: .5rem;
}

#add-address a {
  color: $dat-grey;
  display: flex;
}

#add-address span {
	margin-left: .5rem;
}

