.print-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 25rem;
	margin: auto;
	border: 1px solid black;
}

.print-header {
	text-align: center;
}

.print-links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2rem;
}

.print-links a {
	background-color: $main-color;
	margin-top: .5rem;
	padding: 1rem;
	max-width: 10rem;
	text-align: center;
	border-radius: $border-radius;
	color: white;
	font-weight: 700;
	&:hover {
		text-decoration: none;
	}
}

@include media-breakpoint-up(lg) {
	.print-col {
		//position: relative;
	}
	.print-wrapper {
		position: fixed;
		left: 0;
		width: 100%;
	}

	.print-links {
  	  flex-direction: column;
    }
}

@include media-breakpoint-up(xl) {
  .print-links {
  	flex-direction: column;
  }
}