.navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all .5s ease;
}

.navbar-toggler {
	border: 0!important;
}

@include media-breakpoint-up(lg) {
	.navbar-collapse {
		justify-content: flex-end;
	}
}