<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <div class="container">
      <% if !flash.empty? do |msg_type, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-#{msg_type}")
      <% end %>
      <%= yield %>  
    </div>
  </body>
</html>
